html {
    background: #000;
    text-align: center;
    font-size: 10px;
  }
  
  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }
  
  .clock {
    width: 30rem;
    height: 30rem;
    border: 7px solid #282828;
    box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
                  inset 4px 4px 10px rgba(0,0,0,0.5),
                  inset -4px -4px 10px rgba(67,67,67,0.5),
                  4px 4px 10px rgba(0,0,0,0.3);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;

   
  }
    
@keyframes glow {
  0%, 20%, 40%, 60%, 80%, 100%
  {
    box-shadow: 0 0 65px rgb(11, 126, 155);
    background-color: rgb(24, 165, 207);
  }

  10%, 30%, 50%, 70%, 90%
  {
    box-shadow: 0 0 65px rgb(209, 245, 4);

    background-color: rgb(255, 251, 0);
  }
}


.span
{

    margin-right: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 12%;
}


.span button
{
    background-color: transparent;
    padding: 10px;

    border: none;

    border-radius: 50px;
    border: 1px solid #000;
    width: 100%;
    transition: 0.5s;
    background-color: #ffffff;
}

.span button:hover
{
   box-shadow: 0 15px 55px #000;
   background-color: #000;
   color: #fff;
   cursor: pointer;
}

  .outer-clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
     background-color: #000000;  
   
    overflow: hidden;


  }
  
  .outer-clock-face::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg)
  }
  
  .outer-clock-face::before,
  .outer-clock-face::after,
  .outer-clock-face .marking{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: #0fcac1;
    z-index: 0;
    left: 49%;
  }
  
  .outer-clock-face .marking {
    background: #bdbdcb;
    width: 3px;
  }
  
  .outer-clock-face .marking.marking-one {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg)
  }
  
  .outer-clock-face .marking.marking-two {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg)
  }
  
  .outer-clock-face .marking.marking-three {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg)
  }
  
  .outer-clock-face .marking.marking-four {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg)
  }
  
  .inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    animation: glow 5s infinite;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
  }
  
  .inner-clock-face::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: #000000;
    z-index: 11;
  }
  
  .hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: #b91914;
    position: absolute;
    top: 50%;
    border-radius: 50px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
  
  .hand.hour-hand {
    width: 30%;
    z-index: 3;


  }
  
  .hand.min-hand {
    /* height: 3px; */
    z-index: 10;
    width: 40%;

    background-color: #064d5f;
  }
  
  .hand.second-hand {
    background: #000;
    width: 45%;
    height: 2px;
    z-index: 10;

  
  }